{{define "index"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Modern List</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/itemForm.css">
    <link rel="stylesheet" href="static/css/taskList.css">
    <link rel="stylesheet" href="static/css/task.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Noto+Color+Emoji&display=swap"
      rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script src="/static/js/scripts.js" defer></script>
  </head>

  <body>
    <div class="container">
      <div class="card" x-data="{ open: false }">
        <div class="card-header">
          <div>
            <h1 class="card-title">Tasks</h1>
            <p class="card-description">Manage your daily tasks and activities</p>
          </div>
          <button @click="open = true">New Task</button>
        </div>

        <!-- Add Item Form -->
        {{ template "newTaskForm" }}

        <!-- Tabs -->
        <div class="tab-list" x-data="{ activeTab: 0}" hx-get="/tab" hx-target="#tabs" hx-swap="innerHTML"
          hx-trigger="load, newTab from:body">
          <span id="tabs">
          </span>
          <a class="tab" hx-post="/tab" hx-on::after-request="htmx.trigger(document.body, 'tabsChanged')">+</a>
        </div>
        <!-- Task List -->
        <div class="columns" hx-get="/task" hx-swap="innerHTML" hx-trigger="load, itemsChanged from:body">
        </div>

      </div>
    </div>
  </body>

</html>
{{end}}