{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX Modern List</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <script src="/static/js/scripts.js" defer></script>
</head>

<body>
  <div class="container">
    <div class="card" x-data="{ open: false }">
      <div class="card-header">
        <div>
          <h1 class="card-title">Tasks</h1>
          <p class="card-description">Manage your daily tasks and activities</p>
        </div>
        <button @click="open = !open" x-text="open ? 'Close' : 'New Item'"></button>
      </div>

      <!-- Add Item Form -->
      {{ template "newItemForm" }}

      <!-- Items List -->
      <div class="columns">
        <div class="column">
          <h2>No Priority</h2>
          {{ range $index, $item := .Data.NoPriority }}
          {{ template "item" $item }}
          {{end}}
        </div>
        <div class="column dropzone" data-priority="1">
          <h2>Priority 1</h2>
          {{ range $index, $item := .Data.Other }}
          {{ template "item" $item }}
          {{end}}
        </div>
        <div class="column dropzone" data-priority="2">
          <h2>Priority 2</h2>
          {{ range $index, $item := .Data.NoPriority }}
          {{ template "item" $item }}
          {{end}}
        </div>
        <div class="column dropzone" id="drop-target" data-priority="3">
          <h2>Priority 3</h2>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{{end}}