{{ define "ColumnList"}}
<div class="column">
  <h2>Backlog</h2>
  {{ if .Data }}
    {{ range $index, $tasks := .Data }}
      {{ if eq $tasks.Position 1 }}
        {{ range $index, $task := $tasks.Tasks }}
          {{ template "item" $task }}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
</div>
<div class="column dropzone">
  <h2>In Progress</h2>
  {{ if .Data }}
    {{ range $index, $tasks := .Data }}
      {{ if eq $tasks.Position 2 }}
        {{ range $index, $task := $tasks.Tasks }}
          {{ template "item" $task }}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
</div>
<div class="column dropzone">
  <h2>In Review</h2>
  {{ if .Data }}
    {{ range $index, $tasks := .Data }}
      {{ if eq $tasks.Position 3 }}
        {{ range $index, $task := $tasks.Tasks }}
          {{ template "item" $task }}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
</div>
<div class="column dropzone" id="tasks-container">
  <h2>Done</h2>
  {{ with .Data }}
    {{ range . }}
      {{ if eq .Position 4 }}
        {{ range .Tasks }}
          {{ template "item" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{end}}